{% extends "base.html" %}
{% load static %}
{% load i18n %}
{%  block title %}{% translate 'checkout' %}{% endblock %}
{% block content %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'core:home' %}">Home</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'product:products' %}">Shop</a>
                    <span class="breadcrumb-item active">Checkout</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Checkout Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Billing Address</span></h5>
                <div id="checkout-form" class="bg-light p-30 mb-5">
                         <div class="row">
                            <div class="col-md-6 form-group">
                                <label>First Name</label>
                                <input id="first-name" class="form-control" type="text" placeholder="">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Last Name</label>
                                <input id="last-name" class="form-control" type="text" placeholder="">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>E-mail</label>
                                <input id="email" class="form-control" type="text" placeholder="">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Mobile No</label>
                                <input id="mobile-no" class="form-control" type="text" placeholder="">
                            </div>
                            <form class="col-md-12 delivery-details-form" action={% url "orders:checkout_set_address" %} id="AddressForm">
                            {% csrf_token %}
                            <div class="col-md-6 form-group align-middle">
                                 <label>Address</label>
                                <select id="choose-address" class="form-control">
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Post Code</label>
                                <input id="postcode" class="form-control" type="text" placeholder="">
                            </div>
                            <button id="submit-billing-address" class="btn btn-block btn-primary font-weight-bold py-3">set Address</button>
                            </form>
                        <div class="col-md-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="shipto">
                                <label class="custom-control-label" for="shipto"  data-toggle="collapse" data-target="#shipping-address">send to new address</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="delivery">
                                <label class="custom-control-label" for="delivery"  data-toggle="collapse" data-target="#delivery-method">choose delivery method</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse mb-5" id="shipping-address">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Add new Address</span></h5>
                    <div class="bg-light p-30">
                        <form class="col-md-12 delivery-details-form" action={% url "orders:checkout_set_new_address" %} id="new_address_form">
                        {% csrf_token %}
                         <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="province">Province:</label>
                                <select name="province" id="province" onChange="irancitylist(this.value);" class="form-control">
                                    <option value="0">Please select a province</option>
                                    <option value="Tehran">Tehran</option>
                                    <option value="Gilan">Gilan</option>
                                    <option value="East Azerbaijan">East Azerbaijan</option>
                                    <option value="Khuzestan">Khuzestan</option>
                                    <option value="Persia">Persia</option>
                                    <option value="Isfahan">Isfahan</option>
                                    <option value="Khorasan Razavi">Khorasan Razavi</option>
                                    <option value="Qazvin">Qazvin</option>
                                    <option value="Semnan">Semnan</option>
                                    <option value="Qom">Qom</option>
                                    <option value="center">center</option>
                                    <option value="Zanjan">Zanjan</option>
                                    <option value="Mazandaran">Mazandaran</option>
                                    <option value="Golestan">Golestan</option>
                                    <option value="Ardebil">Ardebil</option>
                                    <option value="West Azerbaijan">West Azerbaijan</option>
                                    <option value="Hamadan">Hamadan</option>
                                    <option value="Kurdistan">Kurdistan</option>
                                    <option value="Kermanshah">Kermanshah</option>
                                    <option value="Lorestan">Lorestan</option>
                                    <option value="Bushehr">Bushehr</option>
                                    <option value="Kerman">Kerman</option>
                                    <option value="Hormozgan">Hormozgan</option>
                                    <option value="Chaharmahal and Bakhtiari">Chaharmahal and Bakhtiari</option>
                                    <option value="Yazd">Yazd</option>
                                    <option value="Sistan and Baluchistan">Sistan and Baluchistan</option>
                                    <option value="Ilam">Ilam</option>
                                    <option value="Kehgluye and Boyerahmad">Kehgelue and Boyerahmad</option>
                                    <option value="Northern Khorasan">Northern Khorasan</option>
                                    <option value="South Khorasan">South Khorasan</option>
                                    <option value="Alborz">Alborz</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="city">City:</label>
                                <select name="city" id="city" class="form-control">
                                    <option value="0">Please select a city</option>
                                </select>
                            </div>
                            <script language="javascript" src="{% static 'js/city.js' %}"></script>
                            <div class="col-md-6 form-group">
                                <label for="new_address">Input New Address</label>
                                <input name="new_address" id="new_address" class="form-control" type="text" placeholder="Enter new Address">
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="postcode">POST Code</label>
                                <input name="postcode" id=postcode" class="form-control" type="text" placeholder="Enter new post code">
                            </div>
                            <button id="submit-new-address" class="btn btn-block btn-primary font-weight-bold py-3" type="submit">set Address</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="collapse mb-5" id="delivery-method">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">choose method</span></h5>
                    <div class="bg-light p-30">
                          <div class="row">
                          <div class="col-md-6 form-group">
                          <label for="deliveryMethod">Delivery Method:</label>
                          <select id="deliveryMethod" class="form-control">
                            <option value="choose delivery method" >Please select </option>
                            <option value="post">Post</option>
                            <option value="snapp">Snapp</option>
                          </select>
                              </div>
                          <div class="col-md-6 form-group justify-content-between">
                          <label for="deliveryCost" >Delivery Cost:</label>
                          <input type="text" id="deliveryCost" class="form-control"  placeholder="Delivery Cost" readonly>
                          </div>
                              <button id="submit-delivery-method" class="btn btn-block btn-primary font-weight-bold py-3" type="submit">choose delivery method</button>
                          <script>
                            const deliveryMethodSelect = document.getElementById('deliveryMethod');
                            const deliveryCostInput = document.getElementById('deliveryCost');

                            const deliveryCosts = {
                              post: 50000,
                              snapp: 100000,
                            };

                            function updateDeliveryCost() {
                              const selectedMethod = deliveryMethodSelect.value;
                              const cost = deliveryCosts[selectedMethod];
                              deliveryCostInput.value = cost;
                            }

                            deliveryMethodSelect.addEventListener('change', updateDeliveryCost);
                            updateDeliveryCost();
                          </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom">
                        <h6 class="mb-3">Products</h6>
                           <div id="items-container"></div>
                    </div>
                    <div class="border-bottom pt-3 pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Delivery Method</h6>
                            <p><span id="delivery_method"></span></p>
                        </div>
                       <div class="d-flex justify-content-between mb-3">
                            <h6>Delivery Cost</h6>
                            <p><span id="delivery_cost"></span></p>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Delivery Address</h6>
                            <p><span id="delivery_address"></span></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Paid</h6>
                            <p><span id="paid"></span></p>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <p><span id="calculation"></span></p>
                        </div>
                    </div>
                </div>
                <div class="mb-5">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Payment</span></h5>
                    <div class="bg-light p-30">
                        <form>{% csrf_token %}
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal">
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                                <label class="custom-control-label" for="directcheck">Direct Check</label>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                                <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                            </div>
                        </div>
                         </form>
                        <button id="submit-billing-address" class="btn btn-block btn-primary font-weight-bold py-3">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->
<script>
    const checkoutUrl = "{% url 'orders:checkout_detail' %}";
    const accessToken = getCookie('jwt_token');
    fetch(checkoutUrl, {
        method: 'GET',
        headers: {
            'Authorization': 'Bearer ' + accessToken,
            'Content-Type': 'application/json',
        }
    })
        .then(function(response) {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(function(data) {
            const user = data.user;
            const addresses = data.addresses;
            const order = data.order;
            const items = data.order.orderitems;
            document.getElementById('first-name').value = user.firstname;
            document.getElementById('last-name').value = user.lastname;
            document.getElementById('email').value = user.email;
            document.getElementById('mobile-no').value = user.phonenumber;
            document.getElementById('calculation').textContent = order.calculation;
            document.getElementById('paid').textContent = order.paid;
           document.getElementById('delivery_cost').textContent = order.delivery_cost;
           document.getElementById('delivery_method').textContent = order.delivery_method;
           document.getElementById('delivery_address').textContent = order.delivery_address;

        const itemsContainer = document.getElementById('items-container');

        items.forEach(item => {
            const itemDiv = document.createElement('div');
            itemDiv.classList.add('item');

            const itemName = document.createElement('span');
            itemName.textContent = `${item.items}   `;

            const itemQuantity = document.createElement('span');
            itemQuantity.textContent = `    ${item.quantity}`;

            itemDiv.appendChild(itemName);
            itemDiv.appendChild(document.createTextNode(' '));
            itemDiv.appendChild(itemQuantity);

            itemsContainer.appendChild(itemDiv);
        });
            const selectElement = document.getElementById('choose-address');
            const defaultOption = document.createElement('option');
            defaultOption.value = '';
            defaultOption.textContent = 'Select an address';
            selectElement.appendChild(defaultOption);
            addresses.forEach(function(address) {
                const option = document.createElement('option');
                option.value = address.address;
                option.textContent = address.address;
                selectElement.appendChild(option);
            });
            selectElement.addEventListener('change', function() {
                const selectedAddressId = this.value.toString();
                const selectedAddress = addresses.find(address => address.id == selectedAddressId);
                if (selectedAddress) {
                    document.getElementById('postcode').value = selectedAddress.postcode;
                }
            });
            if (addresses.length > 0) {
                document.getElementById('postcode').value = addresses[0].postcode;
            }
        })
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("submit-billing-address").addEventListener("click", function (event) {
        event.preventDefault();

        var selectedAddress = document.getElementById("choose-address").value.toString();
        var postcode = document.getElementById("postcode").value;

        const accessToken = getCookie('jwt_token');
        const formData = new FormData();
        formData.append("selected-address", selectedAddress);
        formData.append("postcode", postcode);

        fetch("{% url 'orders:checkout_set_address' %}", {
            method: "POST",
            body: formData,
            headers: {
                'Authorization': 'Bearer ' + accessToken,
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            window.location.reload()
            return response.json();
        })
        .then(data => {
            console.log(data);
        })
        .catch(error => {
            console.error('There was an error!', error);
        });
    });
});
</script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("new_address_form").addEventListener("submit", function (event) {
        event.preventDefault();

        var formData = new FormData(this);
        const accessToken = getCookie('jwt_token');
        fetch("{% url 'orders:checkout_set_new_address' %}", {
            method: "POST",
            body: formData,
            headers: {
                'Authorization': 'Bearer ' + accessToken,
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            window.location.reload()
            return response.json();
        })
        .then(data => {
            console.log(data);
        })
        .catch(error => {
            console.error('There was an error!', error);
        });
    });
});
</script>
 <script>
const deliveryMethod = document.getElementById('delivery-method').value;
const deliveryCost = document.getElementById('delivery-cost').value;
const accessToken = getCookie('jwt_token');

const data = {
    delivery_method: deliveryMethod,
    delivery_cost: deliveryCost
};

fetch('{% url "orders:checkout_delivery" %}', {
    method: 'PUT',
    headers: {
        'Authorization': 'Bearer ' + accessToken,
        'Content-Type': 'application/json',
    },
    body: JSON.stringify(data)
})
.then(response => {
    if (response.ok) {
        return response.json();
    } else {
        throw new Error('Failed to update delivery method and cost');
    }
})
.then(data => {

    console.log(data);
})
.catch(error => {

    console.error(error);
});
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
<script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('submit-delivery-method').addEventListener('click', function () {
                const deliveryMethod = document.getElementById('deliveryMethod').value;
                const deliveryCost = document.getElementById('deliveryCost').value;
                console.log(deliveryMethod);
                const accessToken = getCookie('jwt_token');

                const data = {
                    delivery_method: deliveryMethod,
                    delivery_cost: deliveryCost
                };
                console.log(data);

                fetch('{% url "orders:checkout_delivery" %}', {
                    method: 'PUT',
                    headers: {
                        'Authorization': 'Bearer ' + accessToken,
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data)
                })
                    .then(response => {
                        if (response.ok) {
                            console.log("set delivery method successfully");
                            window.location.reload()
                            return response.json();
                        } else {
                            console.log("fill the blank with correct answer");
                            throw new Error('Failed to update delivery method and cost');
                        }
                    })
                    .then(data => {
                        console.log(data);
                    })
                    .catch(error => {
                        console.error(error);
                    });
            });

            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Search for the CSRF token cookie
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        });
    </script>
{% endblock %}