{% extends "base.html" %}
{% load static %}
{% load i18n %}
{%  block title %}{% translate 'Home' %}{% endblock %}
{% block content %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'core:home' %}">Home</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'product:products' %}">Shop</a>
                    <span class="breadcrumb-item active">Shop Detail</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Detail Start -->
    <div class="container-fluid pb-5">

        <div class="row px-xl-5">
            <div class="col-lg-5 mb-30">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner bg-light">
                        {% for image in product_images %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img class="w-100 h-100" src="{{ image.image.url }}" alt="Image">
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#product-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <div class="col-lg-7 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                    <h3>{{product.title}}</h3>
                    <div class="d-flex mb-3">
                        <div class="text-primary mr-2">
                            <a class="far fa-heart btn-outline-dark btn-square" href="{% url 'product:product_like' product.id %}">
                            </a>
                        </div>
                        <small class="pt-1">({{product.likes_count}} Likes)</small>
                    </div>
                    {% if product.discount_products.all %}
                    {% for discount in product.discount_products.all %}
                    <li class="mb-4">{{ discount.title }} - {{ discount.amount }}{% if discount.amount_type == 'percentage' %}%{% endif %} off</li>
                    <h3 class="font-weight-semi-bold mb-4">{{product.final_price}}</h3>
                    {% endfor %}
                    {% else %}
                    <h3 class="font-weight-semi-bold mb-4">{{product.price}}</h3>
                    {% endif %}
                    <p class="mb-4">{{product.description}}</p>
                    <div class="d-flex mb-4">
                        <strong class="text-dark mr-3">Brand:</strong>
                        <form>
                            <div class="custom-control custom-radio custom-control-inline">
                                <label class="" for="color-1">{{product_variants.first.brand.title}}</label>
                            </div>
                        </form>
                    </div>
                    <div class="d-flex mb-3">
                        {% if 'Size' in product.variant %}
                        <strong class="text-dark mr-3">Sizes:</strong>
                        {% for variant in product_variants %}
                         <form>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="size-1" name="size">
                                <label class="custom-control-label" for="size-1">{{variant.size.code}}</label>
                            </div>
                         </form>
                        {% endfor %}
                        {% else %}
                               <strong class="text-dark mr-3">Sizes:</strong>
                               <label class="" for="size-1">{{product_variants.first.size.code}}</label>
                        {% endif %}
                    </div>
                    <div class="d-flex mb-4">
                        {% if 'Color' in product.variant %}
                        <strong class="text-dark mr-3">Colors:</strong>
                        {% for variant in product_variants %}
                        <form>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="color-1" name="color">
                                <label class="custom-control-label" for="color-1">{{variant.color.name}}</label>
                            </div>
                        </form>
                        {% endfor %}
                        {% else %}
                               <strong class="text-dark mr-3">Colors:</strong>
                               <label class="" for="color-1">{{product_variants.first.color.name}}</label>
                        {% endif %}

                    </div>
                     <div class="d-flex mb-4">
                         {% if 'Material' in product.variant %}
                        <strong class="text-dark mr-3">Material:</strong>
                        {% for variant in product_variants %}
                        <form>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="material-1" name="material">
                                <label class="custom-control-label" for="material-1">{{variant.material.name}}</label>
                            </div>
                        </form>
                        {% endfor %}
                        {% else %}
                               <strong class="text-dark mr-3">Material:</strong>
                               <label class="" for="material-1">{{product_variants.first.material.name}}</label>
                        {% endif %}
                    </div>
                    <div class="d-flex mb-4">
                         {% if 'Material' in product.variant %}
                        <strong class="text-dark mr-3">Atribute:</strong>
                        {% for variant in product_variants %}
                        <form>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="attribute-1" name="attribute">
                                <label class="custom-control-label" for="attribute-1">{{variant.attribute.name}}</label>
                            </div>
                        </form>
                        {% endfor %}
                        {% else %}
                               <strong class="text-dark mr-3">Atribute:</strong>
                               <label class="" for="attribute-1">{{product_variants.first.attribute.type}}</label>
                        {% endif %}
                        </form>
                    </div>
                    <div class="d-flex align-items-center mb-4 pt-2">
                        <div class="input-group quantity mr-3" style="width: 130px;">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-minus">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control bg-secondary border-0 text-center" value="1">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-plus">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <button class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Add To
                            Cart</button>
                    </div>
                    <div class="d-flex pt-2">
                        <strong class="text-dark mr-2">Share on:</strong>
                        <div class="d-inline-flex">
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a class="text-dark px-2" href="">
                                <i class="fab fa-pinterest"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
           <div class="row px-xl-5">
               <div class="col">
                   <div class="bg-light">
                       <div class="nav nav-tabs mb-4">
                           <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Description</a>
                           <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">{{ comments.count }} Comments</a>
                       </div>
                       <div class="tab-content">
                           <div class="tab-pane fade show active" id="tab-pane-1">
                               <h4 class="mb-3">Product Description</h4>
                               <p>{{ product.description }}</p>
                           </div>
                           <div class="tab-pane fade" id="tab-pane-3">
                               <div class="row">
                                   <div class="col-md-6 pl-3">
                                       <p>{{ comments.count }} comments</p>
                                       {% for comment in comments %}
                                       <h6>{{ comment.user }}<small> - <i>{{ comment.created|timesince }}</i></small></h6>
                                           <div class="media mb-3">
                                               <img src="{% static 'img/customers.jpeg' %}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 80px;">
                                               <div class="media-body">
                                                   <p class="mb-0">{{ comment.content }}</p>
                                               </div>
                                           </div>
                                           {% include 'include/nested_comment.html' %}
                                       {% empty %}
                                           <p>Leave your comment</p>
                                       {% endfor %}
                                   </div>
                                   <div class="col-md-4">
                                       <h4 class="mb-4">Leave a Comment</h4>
                                       <div class="d-flex my-3">
                                           <p class="mb-0 mr-0">Your Rating * :</p>
                                           <div class="text-primary">
                                               <i class="far fa-star"></i>
                                               <i class="far fa-star"></i>
                                               <i class="far fa-star"></i>
                                               <i class="far fa-star"></i>
                                               <i class="far fa-star"></i>
                                           </div>
                                       </div>
                                       {% if request.user.is_authenticated %}
                                           <form class="" method="post" action="{% url 'product:product_detail' product.slug %}">
                                               {% csrf_token %}
                                               <input type="hidden" name="parent_comment_id" value="{{ parent_comment_id }}" />

                                               <div class="form-group">
                                                   <label for="message">{{ form.content.label_tag }} *</label>
                                                   <div>{{ form.content }}</div>
                                               </div>
                                               <div class="form-group">
                                                   <label for="name">Your Name *</label>
                                                   <input type="text" class="form-control" id="name" placeholder="{{ request.user }}">
                                               </div>
                                               <div class="form-group">
                                                   <label for="email">Your Email *</label>
                                                   <input type="email" class="form-control" id="email" placeholder="{{ request.user.email }}">
                                               </div>
                                               <div class="form-group mb-0">
                                                   <button type="submit" class="btn btn-dark" style="background-color: rgb(23,20,10);border: 1px solid #000000;font-size: small;">Add Comment</button>
                                               </div>
                                           </form>
                                       {% else %}
                                           <p>Only logged-in users can comment</p>
                                       {% endif %}
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
        </div>
    <!-- Shop Detail End -->

<!-- Products Start -->
    <div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Recent Products</span></h2>
        <div class="row px-xl-5">
            {% for related_product in related_products %}
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                             {{ related_product.image_tag|safe }}
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="{{recent_product.get_absolute_url}}">{{related_product.title}}</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            {% if related_product.discount_products.exists %}
                            <h5>{{ related_product.final_price }}</h5><h6 class="text-muted ml-2"><del>{{ related_product.price }}</del></h6>
                            {% else %}
                            <h5>{{ related_product.price }}</h5>
                            {% endif %}
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    <!-- Products End -->


    <!-- Vendor Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel vendor-carousel">
                    <div class="bg-light p-4">
                        <img src="img/vendor-1.jpg" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="img/vendor-2.jpg" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="img/vendor-3.jpg" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="img/vendor-4.jpg" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="img/vendor-5.jpg" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="img/vendor-6.jpg" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="img/vendor-7.jpg" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="img/vendor-8.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!-- Vendor End -->
{% endblock %}
