<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verification code for  Sign in </title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6;">

    <h2 style="color: #007bff;">Verify Registeration Code</h2>
    <h3>
        Hey. Thank you for coming back to DroomBT Online Shop again
    </h3>
    <p>
       Please use the following verification code {{otp_code}} to confirm your account.
    </p>
    <p>
        If you have any questions or need further information, feel free to contact us and simply reply to this email
    </p>
    <p>
        saharmahmoodi01@gmail.com
    </p>
    <p>
        Best regards,
        <br>
        [DroomBT Shop]
    </p>
</body>
</html>