{% extends 'base_account.html' %}
{% load static %}
{% load i18n %}
{% block title %}SignUp{% endblock %}
{% block content %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
<nav class="breadcrumb bg-light mb-30 d-flex justify-content-between align-items-center">
    <div class="d-flex">
        <a class="breadcrumb-item text-dark" href="{% url 'core:home' %}">Home</a>
        <span class="breadcrumb-item active">Verify registration code</span>
    </div>

    <div class="dropdown">
        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">
            {% translate 'Language' %}
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{% url 'change_lang' %}?lang=en&next={{request.path}}" >FR</a>
            <a class="dropdown-item" href="{% url 'change_lang' %}?lang=fa&next={{request.path}}" >EN</a>
        </div>
    </div>
</nav>

            </div>

        </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- register Start -->
    <div class="container-fluid">
        <div class="row px-xl-5 justify-content-center">
            <div class="col-lg-8">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Enter the verification code</span></h5>
                <form action="{% url 'customers:customer_register' %}" method="post" class="bg-light p-30 mb-5 orange-box" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div>
                           <h4 class="site-name">DroomBT Online Shop</h4>
                        </div>
                        <div class="col-md-12 form-group">
                            <label>{{ form.code.label_tag }}</label>
                           <div>
                                 {{ form.code }}
                                  <div style="font-size: 10px">{{ form.code.errors }}</div>
                           </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-dark btn-sm btn-block" type="submit"><a href="{% url 'customers:verify_registeration_code'%}" >verify</a></button>
                    </div>
                 </form>
            </div>
        </div>

    </div>
    <!-- register End -->
{% endblock %}


